<div>

  <input value="{{party.name}}">

  <h4>Members</h4>
  {{#each party.members as |character index|}}
    {{party-member-item-edit character=character index=index moveMember=moveMember}}
  {{/each}}

</div>
