<ul class="tabs tab-list -full">
  {{#link-to "drops.mine" tagName="li" class="tab-title tab-item"}}
    <a href="{{view.href}}">My drops</a>
  {{/link-to}}
  {{#link-to "drops.friends" tagName="li" class="tab-title tab-item"}}
    <a href="{{view.href}}">Shared with me</a>
  {{/link-to}}
</ul>

<div class="tabs-content">
  <div class="content active">
    <div class="row">
      <div class="columns small-12">

        {{outlet}}

        {{#link-to "drops.new" class="button"}}New drop!{{/link-to}}

      </div>
    </div>
  </div>
</div>