<div class="row">
  <div class="columns small-12">

    <h1>Drops</h1>

    {{drop-list drops=model.drops}}

    {{drop-edit-form characters=model.characters store=store}}

  </div>
</div>

{{outlet}}